# MacOS system file, not needed in the repository
.DS_Store

# Just a message to Silas once he starts helping!(Will be taken out later)
guide.unfsh.txt

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
